#title {
    font-size: 48pt;
    text-align: center;
}
#search {
    text-align: center;
}
#search-teams {
    text-align: center;
    font-size: 24pt;
}
.team-div {
    position: relative;
    background:orange;
    overflow: hidden;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 200px;
    border: 1px solid black !important;
}
.team-div h2 {
    font-size: 24px;
    text-align: center;
}
.team-div img {
    left: 10%;
    height: 150px;
    width: 150px;
}
.teamLine {
    position: absolute;
    left: 500px;
    top: 40%;
    font-size: 36pt;
}
button {
    font-size: 24px;
    width: 20%
}
.team-line-under {
    position: absolute;
    left: 200px;
    top: 30%;
}
.team-line-over {
    position: absolute;
    left: 700px;
    top: 30%;
}
.pctBar {
    position: absolute;
    left:200px;
    bottom:10px;
    width: 72%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}
.pctUnder {
    position: absolute;
    left: 0px;
    width: 69px;
    height: 30px;
    background-color: white;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
}
.pctOver {
    position: absolute;
    right: 0px;
    width: 80px;
    height: 30px;
    background-color: green;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
}