body {
    background-image: url("../images/backgroundnba.jpg");
}
#title {
    font-size: 48pt;
    text-align: center;
    color: white;
    text-emphasis: bold;
    text-shadow: white 1px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#search {
    text-align: center;
    padding: 10px;
}
#search-teams {
    text-align: center;
    font-size: 24pt;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
    width: 70%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}
#search-teams:hover, #search-teams:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }
#teams {
    background-image: url('../images/backgroundnba.jpg');
}
.team-div {
    position: relative;
    background:white;
    overflow: hidden;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 200px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 white;
    transition: 0.3s;
    padding: 10px;
}
.team-div:hover {
    box-shadow: 0 8px 16px 0 white);
  }
.team-div h2 {
    font-size: 36px;
    text-align: center;
    text-emphasis: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: black 1px 0 3px;
}
.team-div img {
    padding: 10px;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 15%;
}
.teamLine {
    position: absolute;
    left: 53%;
    top: 35%;
    width: 10%;
    font-size: 42pt;
    color: orange;
    text-shadow: black 1px 0 3px;
}
button {
    font-size: 24px;
    width: 20%;
}
.team-line-under {
    position: absolute;
    left: 20%;
    top: 30%;
    color: red;
    text-shadow: black 1px 0 2px;
}
.team-line-over {
    position: absolute;
    left: 75%;
    top: 30%;
    color: blue;
    text-shadow: black 1px 0 2px;
}
.pctBar {
    position: absolute;
    left:20%;
    bottom:10px;
    width: 75%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}
.pctUnder {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 30px;
    background-color: red;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    text-shadow: black 1px 0 3px;
}
.pctOver {
    position: absolute;
    right: 0%;
    width: 50%;
    height: 30px;
    background-color: blue;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    text-shadow: black 1px 0 3px;
}
.card-alert-warning h2 {
    color: white;
    top: 50%;
    text-align: center;
}
.footer {
    color: white;
    text-align: center;
}